<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricardo.collage"
    android:versionCode="6"
    android:versionName="1.5">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:theme="@style/AppTheme"
        android:label="Collage"
        android:icon="@drawable/ic_collage"
        android:roundIcon="@drawable/ic_collage"
        android:resizeableActivity="true"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
